*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size:19px;  
    font: DauphinPlain; 
}


p{
    color: black;
    text-align: justify;
    word-wrap:normal;
   
}
h2{
    color: chocolate;
    margin: 15px 0 15px 0;
    font-size: 20px;
    font-weight: 400;
}

.container {
    width: 976px;
    margin: 20px;
   
}
.blog-post{
    width: 70%;    
    float: left;
    margin:0 20px 20px 0;   
    
}.blog-info{
    width: 25%;
    float: left;  
    margin:0 0 20px 20px;
}
.blog-info-1{ 
}
    
.blog-post img{
    margin: 0 10px 0 10px; 
    float: right;
    height: 100px;
    width: 100px;    
}
.author-info{     
    border-top: 2px solid #fceee4;
    padding: 15px;   
   
  
}
.author-text{
    float: left;
    margin-top: 15px;
    font-size: 23px;
    font-weight: 10;

}
.author-info img{   
    height: 100px;
    width: auto;
    float: left;
    border-radius: 50px;         
    display: inline;

}
.clearfix:after{
    content: "";
    display: block;
    clear:both;
}