*{
    margin: 0;
    padding: 0;
}
.header {

    margin-bottom: 20px;
    
}
.header h2{
    display: inline;
    font-weight: 100;
    line-height: 1.2em;
    font-size: 45px;
    font-family: "Lucida Console", Courier, monospace;
}

.header p{display: inline;font-family: Arial, Helvetica, sans-serif;}

.header img{
    float: right;
    border: 2px dashed red; 
    padding: 3px;
    border-radius : 50%;
}



.container {
    width: 999px;
    height: auto;
    word-wrap: break-word;
    margin: 25px 5px;
}
.container h3{
    margin-top: 10px;
}

hr{
    background-color:#574222; 
}
.footer{
   
    background-color: #452d0a;    
    color: #ccc3b6;
    display: block;  
  
    
}.footer p{
      font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
}
.footer h2,h3{
    font-weight: 600;
    line-height: 1.3em;
   
    margin-bottom: 10px;
    font-family: "Lucida Console", Courier, monospace;
}
.footer3 {

    padding: 10px;
    width: 30%;
    float: left;
    background-color: #452d0a;
    display: block;

}

.footer2 {

    padding: 10px;
    width: 30%;
    float: left;    
    background-color: #452d0a;

}

.footer1 {

    padding: 10px;
    width: 30%;
    float: left;    
    background-color: #452d0a;

}
.footer .copyright-text{
    font-weight: 100;
    line-height: 0.9em;
    text-align: center;
    
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}


.blog-post-1 {
    width: 23%;
    padding: 2px;
    float: left;
}

.blog-post-2 {
    width: 23%;
    padding : 3px;
    margin: 3px;
    float: left;    
}

.blog-post-3 {
    width: 23%;
    padding: 2px;
    float: left;
}


.header .author-text {
    float: right;
    margin-top: 19px;
    padding-right: 8px;
}

 .headline {
    display: block;
}
